html {
    /* margin: 0; */
    /* padding: 0; */
} 

body {
    margin:0;
    padding: 0;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    margin: 0;
    padding: 1 rem;
    height: 6rem;
    width: 100%;
    background-image: linear-gradient(0deg , rgb(156,253,102) 0%, rgb(126, 255, 57) 100%);
}

header h1 {
    color:white;
    margin: 0;
    padding: 1.5rem 0;
    text-shadow: 4px 4px 10px rgb(67,67,67);
}

#container {
    width: 100%;
    min-height: 40rem;
    background-color: rgb(238, 255, 229);
}

.text {
    display: inline-block;
}

.button {
    display: inline-block;
    margin: 1rem;
    padding: 0.5rem 0.75rem;
    color:white;
    text-shadow: 2px 2px 4px rgb(67,67,67);
    background-color:rgb(126, 255, 57);
    border-radius: 4px;
    border:2px solid rgb(126, 255, 57);
    cursor: pointer;
    box-shadow: 4px 4px 10px rgb(67,67,67);
}

.button:hover {
    background-color:rgb(173, 253, 130);
    border:2px solid rgb(126, 255, 57);
}

#memory-game {
    margin: 1rem auto;
    width: 60%;
    max-width: 38rem;
    min-width: 32rem;
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap:1rem
}

.memory-tab {
    width: 5rem;
    height: 5rem;
    background-color: rgb(126, 255, 57);
    border-radius: 8px;
    border:4px solid rgb(126, 255, 57);
    box-shadow: 4px 4px 10px rgb(67,67,67);
}

.memory-tab img {
    display: none;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    overflow: hidden;
}

footer {
    margin: 0 auto;
    padding: 1rem;
    background-image: linear-gradient(0deg , rgb(156,253,102) 0%, rgb(126, 255, 57) 100%);
}

@media (max-width: 34rem){
    #memory-game {
        min-width: 18rem;
        height: 40%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap:0.75rem
    }
    
    .memory-tab {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 6px;
        border:2px solid rgb(126, 255, 57);
    }
    
    .memory-tab img {
        width: 3.5rem;
        height: 3.5rem;
    }
}